<div class="jumbotron">
    <h1>Appointment API</h1>
    <p class="lead">This application was built using the .NET framework coded in C#. This RESTful web API application is running on IIS hosted on the AWS cloud. The back-end DB is MySQL also hosted on AWS. Testing framework is made from the MS Unit Test Framework. Below you will find more information on the Web APIs along with the API Help link above.</p>
    <p>The API path is located at: <a href="http://52.4.16.156/api/appointment">http://52.4.16.156/api/appointment</a>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>GET (List)</h2>
        <p>
            There are 4 ways to pull the information for appointments.
            <ul>
                <li><strong>api/appointment</strong> - Gets all appointments</li>
                <li><strong>api/appointment/{id}</strong> - Gets the appointment with that id</li>
                <li><strong>api/appointment/filter/startdate={YYYY-MM-DD}/enddate={YYYY-MM-DD}</strong> - Gets the appointments that fall within those days.</li>
                <li><strong>api/appointment/filter/startdate={YYYY-MM-DD}/starttime={HHMM}/enddate={YYYY-MM-DD}/endtime={HHMM}</strong> - Gets the appointments that fall within the day and military time specified.</li>
            </ul>
            Please also see the API Help link at the top. 
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>POST (Create)</h2>
        <p>
            To create an appointment please enter in the expected parameters in JSON format required for an appointment.<br />
            Example:<br />
            <ul>
                <li><strong>Header:</strong></li>
                <ul><li>POST: http://52.4.16.156/api/appointment </li></ul>
                <ul><li>User-Agent: Fiddler<br/>
                        Host: localhost:50972<br />
                        Content-Type: text/json<br />
                        Content-Length: 122 
                    </li></ul>
                <li><strong>RequestBody:</strong>
            
                <ul>
                    <li>
                        {"start_time":"2015-05-11T07:00:00","end_time":"2015-05-11T07:15:00","first_name":"ultimate","last_name":"software","comments":""}
                    </li>
                </ul>
            </ul>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>PUT (Update)</h2>
        <p>
            To update an appointment please enter in the expected parameters in JSON format required for an appointment. This includes the identifier of the appointment.<br />
            Example:<br />
            <ul>
                <li><strong>Header:</strong></li>
                <ul><li>PUT: http://52.4.16.156/api/appointment </li></ul>
                <ul>
                    <li>
                        User-Agent: Fiddler<br />
                        Host: localhost:50972<br />
                        Content-Type: text/json<br />
                        Content-Length: 143
                    </li>
                </ul>
                <li>
                <strong>RequestBody:</strong>
                <ul>
                    <li>
                        {"idappointment":100,"start_time":"2015-05-11T07:00:00","end_time":"2015-05-11T07:15:00","first_name":"ultimate","last_name":"software","comments":""}
                    </li>
                </ul>
            </ul>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>DELETE</h2>
        <p>
            To remove an appointment please enter the identifier in the URL.<br />
            Example:<br />
            <ul>
                <li><strong>Header:</strong></li>
                <ul><li>DELETE: http://52.4.16.156/api/appointment/100 </li></ul>
                <ul>
                    <li>
                        User-Agent: Fiddler<br />
                        Host: localhost:50972<br />
                    </li>
                </ul>
                
            </ul>
        </p>
    </div>
</div>

